################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HL7Conversion/demohl7.cmd
/HL7Conversion/SmartHL7.Message.Sender.exe.config
/HL7Conversion/SmartHL7.Message.Sender.exe
/HL7Conversion/.vs
/FHIR/FHIRProxy/results
/HL7Conversion/test.bash
