{# Copyright (c) Microsoft Corporation. #}
{# Licensed under the MIT License. #}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>H3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      data-preload="true"
    />
    <style>
      {% include 'b2c-branding.css' %}
    </style>
  </head>
  <body>
  <div class="container">
    <div class="modal">
      {% block title %}{% endblock %}
      <div id="api"></div>
      {% block footer %}{% endblock %}
    </div>
    </div>
  </body>
</html>
