{# Copyright (c) Microsoft Corporation. #}
{# Licensed under the MIT License. #}

{% extends "_layout.j2" %}

{% block title %}
<h2>Log into your H3 account</h2>
{% endblock %}

{% block footer %}
<div class="terms">
  <p>By using H3 you agree to our <a href="#">Terms</a></p>
</div>
{% endblock %}
